.yui3-u {
    display: inline-block;
    vertical-align: top;
    word-spacing: normal;
    letter-spacing: normal;
    zoom: 1;
    text-rendering: auto;
}
.Left {
    width: 210px;
}

.all-sort h4 {
    padding-top: 12px;
    margin: 20px;
    background: #808080;
    color: #fff;
    height: 30px;
    text-align: center;
    cursor: pointer;
    clear:both
}
