* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
input, button{
    background: transparent;
    border: none;
    outline: none;
}
body{
    height: 100vh;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,166,233,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #bdaadb;
}
.Register{
    width: 400px;
    height: 450px;
    background: rgba(0,0,0,0.5);
    padding: 30px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.item{
    height: 45px;
    border-bottom:1px solid #FFFFFF;
    margin-bottom: 40px;
    position: relative;
}
.item input{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    padding-top: 20px;
    box-sizing: border-box;
}
.item input:focus+label{
    top:0px;
    font-size: 12px;
}
.item input:valid+label{
    top:0px;
    font-size: 12px;
}
.item label{
    position: absolute;
    left: 0;
    top: 12px;
    transition: all 0.3s linear;
}
.btn{
    padding: 10px 20px;
    overflow: hidden;
    margin-top: 10px;
    color: #bdaadb;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn:hover{
    background: #bdaadb;
    border-radius: 5px;
    color: #FFFFFF;
    box-shadow: 0 0 5px 0 #bdaadb,
    0 0 25px 0 #bdaadb,
    0 0 50px 0 #bdaadb,
    0 0 100px 0 #bdaadb;
}
.btn>span{
    position: absolute;
}
.btn>span:nth-child(1){
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left,transparent,#bdaadb);
    left: -100%;
    top: 0%;
    animation: line1 1s linear infinite;
}
@keyframes line1 {
    50%,100%{
        left: 100%;
    }
}
.btn>span:nth-child(2){
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top,transparent,#bdaadb);
    right: 0%;
    top: -100%;
    animation: line2 1s 0.25s linear infinite;
}
@keyframes line2 {
    50%,100%{
        top: 100%;
    }
}
.btn>span:nth-child(3){
    width: 100%;
    height: 2px;
    background: -webkit-linear-gradient(left,#bdaadb,transparent);
    left: 100%;
    bottom: 0%;
    animation: line3 1s 0.5s linear infinite;
}
@keyframes line3 {
    50%,100%{
        left: -100%;
    }
}
.btn>span:nth-child(4){
    width: 2px;
    height: 100%;
    background: -webkit-linear-gradient(top,#bdaadb,transparent);
    left: 0%;
    top: 100%;
    animation: line4 1s 0.75s linear infinite;
}
@keyframes line4 {
    50%,100%{
        top: -100%;
    }
}
a{
    float: right;
    color: #1E9FFF;
}